@charset "UTF-8";

@media screen and (min-width: 775px) {
    footer > p {
        font-size: 1.17em;
    }
    i#menu-burger {
        display: none;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu {
        display: block;
    }

    main {
        width: 775px;
    }
}