@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 460px) {

    body {
        background-color:#0A31A6;
    }

    footer > p {
        font-size: 0.86em;
    }

    article > p {
        font-size: 1.2em;
    }

    p.p-coment {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 775px) {

    body {
        background-image: linear-gradient(to left, #091973, #0A31A6);
    }

    footer > p {
        font-size: 1em;
    }

    i#menu-burger {
        display: none;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu {
        display: block;
        text-align: center;
    }

    main {
        width: 775px;
    }

    img#profile {
        transition-duration: 0.36s;
    }

    img#profile:hover {
        scale: 1.135;
        box-shadow: 4px 6px 7px #0000008c;
    }

    footer {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    p.p-coment {
        font-size: 1.1em;
    }
}