@charset "UTF-8";

@media screen and (min-width: 775px) {

    body {
        background-image: linear-gradient(to left, #091973, #0A31A6);
    }

    footer > p {
        font-size: 1em;
    }

    i#menu-burger {
        display: none;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu {
        display: block;
        text-align: center;
    }

    main {
        width: 775px;
    }

    footer {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 3.5%;
        width: 93%;
        height: 90%;
    }

    h1#titulo {
        font-size: 1.75em;
    }

    main#main-second {
        width: 55%;
    }
}