@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 460px) {

    body {
        background-color:#0A31A6;
    }

    footer > p {
        font-size: 0.65em;
    }

    article {
        width: 85%;
    }

    img#img-0-1-1 {
        height: 200px;
    }
}


@media screen and (min-width: 775px) {

    body {
        background-image: linear-gradient(to left, #0A31A6,#091973);
    }

    main {
        background-image: linear-gradient(to right, #cccccc 22%, #acacac);
    }

    p#version-0-1-0 {
        width: 40%;
        margin: auto;
    }

    i#menu-burger {
    display: none;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu {
        display: block;
        text-align: center;
    }

    img#img-0-1-0 {
        height: 280px;
    }

    img#img-0-1-1 {
        height: 385px;
    }

    footer {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    footer > p {
        font-size: 1em;
    }

    article {
        width: 65%;
    }

    i#xmark {
        background-color: #fff;
        padding: 4px;
        margin-top: 0px;
        border-radius: 45%;
      }
}
