@media screen and (min-width: 320px) and (max-width: 460px) {

    body {
        background-color:#0A31A6;
    }

    main {
        background-color: #3057ef;
        width: 65%;
    }

    footer > p {
        font-size: 0.68em;
    }

    div.video {
        margin: 0px 0px 30px 20px;
        padding: 0px;
        padding-right: 0px;
        padding-bottom: 50%;
        position: relative;
    }
    
    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 2%;
        width: 93%;
        height: 90%;
    }
}

@media screen and (min-width: 775px) {

    body {
        background-image: linear-gradient(to left, #0A31A6,#091973);
    }

    main {
        background-image: linear-gradient(to left, #7016f8, #3057ef);
        width: 55%;
    }

    i#menu-burger {
        display: none;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu {
        display: block;
        text-align: center;
    }

    footer {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    footer > p {
        font-size: 1em;
    }

    p#p-desc {
        width: 65%;
        margin: auto;
    }
}