@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 460px) {

    body {
        background-color:#0A31A6;
    }

    footer > p {
        font-size: 0.68em;
    }

    #video_recente {
        border: 1px solid #000;
        height: 145px;
    }
    
    #melhor_video {
        border: 1px solid #000;
        height: 145px;
    }
    
    #melhor_musica {
        border: 1px solid #000;
        height: 145px;
    }
}

@media screen and (min-width: 775px) {

    body {
        background-image: linear-gradient(to left, #0A31A6,#091973);
    }

    main {
        background-image: linear-gradient(to left, #f75959, #e52626);
    }

    i#menu-burger {
        display: none;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu {
        display: block;
        text-align: center;
    }

    footer {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    footer > p {
        font-size: 1em;
    }

    #video_recente {
        height: 200px;
    }

    #melhor_video {
        height: 200px;
    }

    #melhor_musica {
        height: 200px;
    }

    p#p-smn {
        font-size: 1.3em;
    }

    .img-box {
        transition-duration: 0.38s;
    }
    
    .img-box:hover {
        scale: 1.075;
        box-shadow: 4.5px 5.5px 6px #0000008b;
    }
}