@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /*Inter*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto*/

:root {
    --inter: 'Inter', Arial, Helvetica, sans-serif;
    --roboto: 'Roboto', Arial, Helvetica, sans-serif;
    --chopin: 'Chopin', Verdana, Arial, sans-serif;

    --dark-gray: #282828;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--inter);
    background-color:#0A31A6;
    background-attachment: fixed;
    background-size: cover;
}

menu {
    display: block;
    background-color: #fff;
    border-bottom-right-radius: 6.5px;
    border-bottom-left-radius: 6.5px;
    padding-left: 1px;
    width: 1103.150;
    height: 39.282;
    margin: 0px;
}

i#menu-burger {
    background-color: #fff;
    color: #000;
    padding-bottom: 3px;
    border-radius: 0px;
    font-size: 1.66em;
    width: 100%;
    text-align: center;
    transition-duration: 0.46s;
}

i#menu-burger:hover {
    background-color: var(--dark-gray);
    color: #fff;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    color: var(--dark-gray);
    font-weight: 700;
    transition: all 0.38s;
}

menu > ul > li > a:hover {
    background-color: var(--dark-gray);
    color: #fff;
}


a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}