@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /*Inter*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto*/

:root {
    --inter: 'Inter', Arial, Helvetica, sans-serif;
    --roboto: 'Roboto', Arial, Helvetica, sans-serif;
    --chopin: 'Chopin', Verdana, Arial, sans-serif;

    --dark-gray: #282828;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--inter);
    background-color:#0A31A6;
    background-attachment: fixed;
    background-size: cover;
}

main {
    background-color: #fa4b4b;
    padding: 6px;
    margin-top: 10px;
}

menu {
    display: block;
    background-color: #fff;
    border-bottom-right-radius: 6.5px;
    border-bottom-left-radius: 6.5px;
    padding-left: 1px;
    width: 1103.150;
    height: 39.282;
    margin: 0px;
}

i#menu-burger {
    background-color: #fff;
    color: #000;
    padding-bottom: 3px;
    border-radius: 0px;
    font-size: 1.66em;
    width: 100%;
    text-align: center;
    transition-duration: 0.46s;
}

i#menu-burger:hover {
    background-color: var(--dark-gray);
    color: #fff;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    color: var(--dark-gray);
    font-weight: 700;
    transition: all 0.38s;
}

menu > ul > li > a:hover {
    background-color: var(--dark-gray);
    color: #fff;
}

article {
    text-align: center;
}


a {
    text-decoration: none;
}

abbr {
    text-decoration: underline;
}

ul, ol {
    list-style-type: none;
}

footer {
    background-color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-right-radius: 3.5px;
    border-top-left-radius: 3.5px;
    width: 100%;
    margin-top: 10px;
}

footer > p {
    text-align: center;
    font-size: 0.85em;
}

a.link-footer {
    color: #fff;
    background-color: #000;
    padding: 2px;
    border-radius: 5px;
}

a.link-footer::after {
    content: '🔗';
}

a.link-footer:hover {
    text-decoration: underline;
}

#arma_shoope {
    border: 1px solid #000;
    border-top: 0.4px;
    border-left: 0.5px;
    height: 215px;
}

#mine-thumb {
    border: 1px solid #000;
    height: 215px;
}

#rap-mine-thumb {
    border: 1px solid #000;
    height: 215px;
}

h1#titulo {
    margin-bottom: 4.5px;
}

article {
    color: #2a2a2a;
}

p#p-smn {
    font-weight: bold;
    color: #000000;
    margin-top: 16px;
    font-size: 1em;
}